$blue:   #3bbfce
$red:    #ff0003
$white:  #ffffff
$yellow: #ffc40d

body
  padding-top: 60px
  color: $red
  background: darken($blue, 40%)

section
  background: #fffff0
  color: #000000
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 10px
  padding_right: 5px

.btmbar
  bottom: 0px
  position: absolute
  margin-bottom: -40px

.notes
  border: 3px solid #666
  padding: 10px
  margin: 10px
  background: lighten($yellow, 10%)


