$blue:   #3bbfce
$red:    #ff0003
$white:  #ffffff
$yellow: #ffc40d

body
  background: darken($blue, 40%)
  

section
  background: #fffff0
  color: #000000
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 10px
  padding_right: 5px

.btmbar
  padding-top: 100px
  position: bottom
  z-index: 0
  
  

.notes
  border: 3px solid #666
  padding: 10px
  margin: 15px
  background: lighten($yellow, 15%)

.store
  padding-top: 70px
